@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@200;300;500&family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron';
  color: rgba(247, 247, 6, 0.911);;
  ;

}

code {
  font-family:  Orbitron;
}



