#filter-field {

    width: 20vw;
    padding: 10px;
    margin: auto;
    background-color: #ff9035;
    color: rgb(132, 4, 252);
    font-family: Orbitron;
    font-size: 14px;
    border-radius: 7px;
    
}  